// Format

*
  @include box-sizing(border-box)
  position: relative


a
  color: $link-color

  &:hover
    color: $link-color-hover

.chromefix .chromefix
  background-attachment: scroll !important




input
  margin: 0

html,
body
  width: 100%
  height: 100%

html
  background: white
  color: $dark
  font-family: $font-body
  font-size: $font-size
  line-height: $line
  -webkit-font-smoothing: antialiased

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: normal
  line-height: 1

h1,
h2
  font-family: $bodoni-poster
  text-align: center
  text-transform: uppercase

h2
  font-family: $font-heading
  font-size: $line*1.25
  margin: $line 0
  padding: $line 0 0

h3
  font-size: $line*0.75
  margin: $line*1.25 0 $line/2

p
  margin: $line 0

strong
  font-weight: bold

em
  font-style: italic


// Layout

.contents
  margin: 0 auto
  max-width: $desktop
  padding: $line*2 0

.blend-top .contents
  padding-top: 0

.blend-bottom .contents
  padding-bottom: 0

.blend .contents
  padding-top: 0
  padding-bottom: 0

.fixed
  position: fixed
  left: 0
  top: 0

.bleed
  width: 100%
  height: 100%

  img
    width: 100%

.half
  float: left
  margin-right: 2%
  width: 49%

.half + .half
  width: 49%


// Content Types

.background_image
  position: absolute
  width: 100%
  height: 200%
  top: 0
  left: 0
  background-position: 50% 0%
  background-repeat: no-repeat

section
  @include clearfix
  background: #fff
  width: 100%
  z-index: 3

  &.spread
    min-height: 800px

  &.chapter
    text-align: center

    p
      font-family: $font-chapter
      text-transform: uppercase

  &.chapter_title
    text-align: center
    text-transform: uppercase
    padding: 16em 0

    p,
    h2
      color: #fff
      @include text-shadow($dark 0 0 25px)

    p
      border-bottom: 2px solid rgba(255, 255, 255, .6)
      display: inline-block
      font-size: $font-size*0.9
      letter-spacing: 1px
      margin: 0 auto
      padding: 0 1em .25em 1em

    h2
      font-family: $bodoni-poster-italic
      font-size: 90px
      margin: 0

  &.copy
    p
      font-size: 18px
      line-height: 1.4

  &.quotation
    .contents
      @include clearfix
      background-repeat: no-repeat
      padding: 8em 0

    p
      clear: both
      font-size: 18px
      padding-bottom: 1.5em
      width: 50%

      &:first-child
        margin-top: 0

      &:last-child
        margin-bottom: 0

    blockquote + p
      padding-top: 3em

    blockquote
      background: $green
      color: #fff
      display: block
      font-family: $proxima-bold
      padding: 2em
      width: 50%

      p
        font-size: $font-size * 1.2
        margin-top: 0
        padding: 0
        width: 100%

    cite
      display: block
      font-family: $proxima-semibold
      font-size: $font-size * 0.9
      line-height: 1.3
      margin-left: 1.5em

      strong
        display: block
        font-family: $proxima-semibold
        font-size: 18px
        font-weight: normal
        line-height: 1.5
        text-indent: -1.1em

        small
          font-size: 14px
          margin-left: .4em

    &.left
      blockquote
        float: left
        @include triangle-right(25px, $green)

      .contents
        background-position: 92% center

    &.right
      blockquote
        float: right
        @include triangle-left(25px, $green)

      .contents
        background-position: left center

    &.paul
      .contents
        background-image: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/person-paul_solman.jpg')
        background-repeat: no-repeat
        background-position: 0 8em

      blockquote
        float: right
        width: 75%
        @include triangle-left(25px, $green, 10%)

    &.dante_chinni .contents
      background-image: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/person-dante_chinni.jpg')

    &.jack_vanderhei .contents
      background-image: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/person-jack_vanderhei.png')

    &.julie_zissimopoulos .contents
      background-image: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/person-julie_zissimopoulos.jpg')

    &.marc_freedman .contents
      background-image: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/person-marc_freedman.jpg')

    &.michael_davidson .contents
      background-image: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/person-michael_davidson.png')

    &.diane_oakley .contents
      background-image: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/person-diane_oakley.jpg')

    &.nancy_goldberg .contents
      background-image: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/person-nancy_goldberg.jpg')

    &.paula_gjerstad .contents
      background-image: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/person-paula_gjerstad.png')

    &.robert_martin .contents
      background-image: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/person-robert_martin.jpg')

    &.sheryl_garrett .contents
      background-image: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/person-sheryl_garrett.jpg')

    &.traer_sunley .contents
      background-image: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/person-traer_sunley.png')

  &.video
    .contents
      @include clearfix

      .caption
        h2
          font-family: $proxima-semibold
          font-size: 20px
          line-height: 1.3
          margin: 1em 0 .75em
          text-align: left

        p
          font-size: 18px
          line-height: 1.4
          margin: .75em 0

    .video-container
      width: 500px
      height: 280px
      display: block
      z-index: 9

    .play
      background: rgba(#000, .8)
      cursor: pointer
      display: block
      position: absolute
      z-index: 10
      background-repeat: no-repeat
      background-position: center
      width: 500px
      height: 280px

    &.ended .play
      background-position: center 60px

      &:after
        content: "Now Watch the Full Video"
        color: #fff
        font-family: $proxima-bold
        font-size: 24px
        text-align: center
        text-transform: uppercase
        width: 500px
        position: absolute
        left: 0
        top: 175px
        z-index: 11

    &.playing .play
      display: none

    &.right
      .video-container
        float: right
        margin-left: 2em
      .play
        right: 0
        background-image: image-url("http://www-tc.pbs.org/newshour/new-older-workers/img/play-small.png")

    &.left
      .video-container
        float: left
        margin-right: 2em
      .play
        left: 0
        background-image: image-url("http://www-tc.pbs.org/newshour/new-older-workers/img/play-small.png")

    &.full
      .video-container,
      .play
        width: 800px
        height: 450px
        margin-bottom: 1.5em

      .play
        background-color: rgba(black, .5)
        background-image: image-url("http://www-tc.pbs.org/newshour/new-older-workers/img/play-large.png")
        background-position: center

        &:after
          display: none

.major
  font-family: $font-heading
  font-size: 30px
  text-align: center
  text-transform: uppercase
  line-height: 1.3

  strong
    color: $green
    font-weight: normal

.major-alt
  @extend .major
  font-size: 20px

.border-top
  border-top: 2px solid $dark
  width: 100%

.border-bottom
  border-bottom: 2px solid $dark
  width: 100%

.bordered
  border-top: 2px solid $dark
  border-bottom: 2px solid $dark
  margin: 0 auto
  padding: .5em 0 .4em 0
  width: $desktop

.form_question,
.results h2,
.conclusion_section
  background: $green
  color: #fff
  font-family: $proxima-bold
  font-size: 28px
  line-height: 1.3
  margin: 0 0 0 -2.5%
  text-transform: uppercase
  padding: .75em 0 .6em
  text-align: center
  width: 105%

.form_fields
  background: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/form-background.jpg') center bottom  repeat-x
  font-family: $proxima-semibold
  margin: 0 auto
  overflow: hidden

  &.padding
    padding: 1em

  p.disclaimer
    color: $medium
    line-height: 1.4
    font-size: 13px
    margin: 0 0 1.5em 0

  .field
    margin-bottom: 2em

    &.radio_buttons
      label
        margin: .25em 0

        span
          margin-left: .25em

  .field_title
    font-size: 22px
    line-height: 1.4
    margin: 0 0 .25em 0
    padding: 0
    text-transform: uppercase

    strong
      font-family: $proxima-bold
      font-weight: normal

    span
      display: inline-block
      margin: 0 .5em

  label
    display: block
    font-size: 18px

    strong
      font-family: $proxima-bold
      font-weight: normal

  .live_pie-open
    background: $green image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/pie.png') 5px center no-repeat
    border-radius: 3px
    color: white
    cursor: pointer
    font-size: 14px
    padding: .6em 1em .4em 3em
    text-transform: uppercase
    position: absolute
    right: 0
    top: -50px
    z-index: 10

    &:hover
      background-color: $green/1.25

input[type=radio]
  -webkit-appearance: none
  -moz-appearance: none
  display: inline-block
  background-image: image-url("http://www-tc.pbs.org/newshour/new-older-workers/img/radio_button-open.png")
  background-repeat: no-repeat
  width: 25px
  height: 25px
  top: 8px

  &:hover
    background-image: image-url("http://www-tc.pbs.org/newshour/new-older-workers/img/radio_button-hover.png")

  &:checked
    background-image: image-url("http://www-tc.pbs.org/newshour/new-older-workers/img/radio_button-filled.png")


// Charts

.splitbars
  height: 180px

  h3
    color: $green
    font-family: $bodoni-poster-italic
    font-size: 32px
    float: left
    width: 8%
    margin: 2.8em 5% 0 0

  .splitbars-container
    float: left
    margin: 4em 0
    width: 87%
    height: 80px

    div
      float: left
      display: block
      height: 80px
      position: relative

      span
        background: rgba(0, 0, 0, .4)
        color: #fff
        display: block
        font-family: $proxima-semibold
        font-size: 12px
        padding: .25em .5em
        position: absolute
        text-transform: uppercase
        white-space: nowrap

        strong
          display: none

      &.your_answer span strong
        display: inline

      &.first,
      &.third,
      &.fifth
        span
          left: 0
          top: -40px

      &.second,
      &.fourth
        span
          left: 0
          bottom: -40px

      $background-color-1: #777
      $background-color-2: #999
      $background-color-3: #aaa
      $background-color-4: #ccc
      $background-color-5: #eee

      &.first,
      &.first span
        background-color: $background-color-1
      &.first span
        @include triangle-bottom(6px, $background-color-1, down)
      &.first.your_answer span
        @include triangle-bottom(6px, $green, down)

      &.second,
      &.second span
        background-color: $background-color-2
      &.second span
        @include triangle-top(6px, $background-color-2)
      &.second.your_answer span
        @include triangle-top(6px, $green)

      &.third,
      &.third span
        background-color: $background-color-3
      &.third span
        @include triangle-bottom(6px, $background-color-3, down)
      &.third.your_answer span
        @include triangle-bottom(6px, $green, down)

      &.fourth,
      &.fourth span
        background-color: $background-color-4
      &.fourth span
        @include triangle-top(6px, $background-color-4)
      &.fourth.your_answer span
        @include triangle-top(6px, $green)

      &.fifth,
      &.fifth span
        background-color: $background-color-5
      &.fifth span
        @include triangle-bottom(6px, $background-color-5, down)
      &.fifth.your_answer span
        @include triangle-bottom(6px, $green, down)

      &.your_answer,
      &.your_answer span
        background-color: $green


// Animations

@include keyframes(pulse-highlight)
  0%
    opacity: .8

  50%
    opacity: 1

  100%
    opacity: .8


// Substitute PNG on pie charts if rotation cannot be done

.no-csstransforms3d,
.no-inlinesvg
  .percent_50,
  .percent_92,
  .percent_68,
  .percent_59,
  .percent_57
    svg
      display: none
    img
      display: block !important


// Live Data Pie Charts

#live_pie-under65,
#live_pie-over65,
#live_pie-gender,
#live_pie-community
  display: none
  background: rgba(0, 0, 0, .8)
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 98

.live_pie-under65-content,
.live_pie-over65-content,
.live_pie-gender-content,
.live_pie-community-content
  background: #fff
  border-radius: 6px
  margin-left: -350px
  padding: 20px
  position: fixed
  top: 7%
  left: 50%
  width: 700px
  height: 755px
  z-index: 99
  overflow: hidden
  @include box-shadow(0 0 35px rgba(0, 0, 0, .75))

  h2
    font-family: $proxima-bold
    font-size: 24px
    line-height: 1.2
    margin: 0
    padding: 0
    text-align: center

  ul
    @include clearfix
    background: #eee
    border-radius: 4px
    margin: 1em auto 0 auto
    padding: .5em .5em 0 .5em
    width: 80%
    z-index: 3

  li
    border-radius: 4px
    color: #fff
    font-family: $proxima-semibold
    font-size: 14px
    float: left
    margin-bottom: .5em
    padding: .2em .5em
    width: 49.2%

    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(5)
      margin-right: .8%

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6)
      margin-left: .8%

    &.red
      background: #5b0f00
    &.orange
      background: #783f04
    &.green
      background: #274e13
    &.teal
      background: #0c343d
    &.blue
      background: #073763
    &.yellow
      background: #7f6000

  .live_pie-loading
    position: absolute
    top: 50%
    left: 50%
    margin-left: -32px
    background: image-url('http://www-tc.pbs.org/newshour/new-older-workers/img/loading.gif') center no-repeat
    width: 64px
    height: 64px
    z-index: 1

  iframe.pie_container
    display: block
    margin: 1em auto 0 auto
    padding-left: 20px
    width: 570px
    height: 560px
    overflow: hidden
    z-index: 2

.live_pie-gender-content
  height: 620px

  iframe.pie_container
    margin: 2em auto 0 auto

#live_pie-under65-close,
#live_pie-over65-close,
#live_pie-gender-close,
#live_pie-community-close
  color: $light
  cursor: pointer
  display: block
  font-size: 48px
  font-weight: bold
  padding: 20px 20px
  position: absolute
  top: 0
  right: 0
  z-index: 10

  &:hover
    color: $dark