.chapter-1-rethinking-retirement
  header.story_header
    @extend .on_dark_background
    z-index: 2

    h1
      @include text-shadow($dark 0 0 25px)
      margin-top: 4em

  .company_photo
    z-index: 1
    @include transition(opacity .3s)

  .intro
    background: pink
    margin-top: 80%