.chapter-1-rethinking-retirement article

  header.story_header
    z-index: 2

  .story_header_wrapper
    z-index: 1
    @include transition(opacity 1s)

  .company_photo .background_image
    background-image: image-url('1/company_photo.jpg')
    background-size: 100%

  .intro
    margin-top: 80%
    text-align: center

    p.first,
    p.third
      @extend .major

    p.second
      @extend .major-alt
      @extend .bordered

    strong
      color: $green
      font-weight: normal

  .chapter_title
    @extend .on_dark_background
    padding: 24em 0 2em 0

    .background_image
      @include multi-background("1/park")

  .percentage_of_workers
    p
      @extend .major
      @extend .bordered

  .pie_slice
    @include transform-origin(50px, 50px)
    @include transform(rotate(-180deg))
    @include transition(transform 2s)

  .percent_50,
  .percent_92
    width: 100px
    height: 100px
    margin: 0 auto

    img
      display: none

  .active
    .percent_92 .pie_slice
      @include transform(rotate(-20deg))

    .percent_50 .pie_slice
      @include transform(rotate(0deg))

  .percentage_of_workers-chart
    background: image-url('1/percentage_of_workers-chart.gif') left top no-repeat
    margin: 5em 0 2em -40px
    width: 860px
    height: 280px
    position: relative

    .data_point
      background: rgba(0, 0, 0, .8)
      border-radius: 2px
      color: #fff
      display: inline-block
      padding: .5em .75em
      text-align: center
      position: absolute
      opacity: 0
      margin-top: 10px
      @include triangle-bottom(4px, rgba(0, 0, 0, .8), down)
      @include transition(all .3s)

      strong
        display: block
        font-family: $bodoni-poster-italic
        font-size: $font-size*1.5

      &.active
        margin-top: 0
        opacity: 1

      &#percentage_of_workers-chart-data_point-1
        left: 157px
        top: 80px
        @include transition-delay(.2s)

      &#percentage_of_workers-chart-data_point-2
        left: 319px
        top: 46px
        @include transition-delay(.4s)

      &#percentage_of_workers-chart-data_point-3
        left: 475px
        top: 38px
        @include transition-delay(.6s)

      &#percentage_of_workers-chart-data_point-4
        left: 642px
        top: 2px
        @include transition-delay(.8s)

      &#percentage_of_workers-chart-data_point-5
        background: $green
        @include triangle-bottom(4px, $green, down)
        left: 804px
        top: -63px
        @include transition-delay(1s)

  .increase_of_workers
    @extend .spread

    .background_image
      @include multi-background("1/grump")

    p
      @include boxed(#fff, left, third, centered)

      span
        @extend .bordered
        display: block
        line-height: 1
        margin: .25em 0 .5em
        padding: .75em 0 .75em
        width: 100%

        strong
          display: inline-block
          font-family: $bodoni-poster-italic
          font-size: 60px
          margin: 0 .1em

  .one_in_four_workers
    @extend .spread

    .background_image
      background-image: image-url('1/diner.jpg')

    .contents div
      @include boxed(#fff, right, half, centered)

      p.first
        @extend .major

  .half_of_american_households
    @extend .spread

    .background_image
      @include multi-background("1/jars")

    p
      @extend .major
      @include boxed(#fff, left, third, centered)

  .working_about_the_right_amount
    @extend .left

  .labor_force
    @extend .blend-top

    h3
      color: $medium
      float: left
      font-family: $proxima-semibold
      font-size: 20px
      line-height: 1.3
      margin: 0
      text-align: center
      text-transform: uppercase

      &.first
        width: 370px

      &.second
        width: 305px
        margin-left: 120px

    .labor_force-chart
      background: image-url('1/labor_force-chart.gif') left top no-repeat
      margin: 6.25em 0 0 -42px
      width: 882px
      height: 347px
      position: relative

      .data_point
        position: absolute
        display: block

      .data_point.line
        background-position: left top
        background-repeat: no-repeat
        width: 0
        height: 50px
        left: 65px
        @include transition(width .3s)

        &.active
          width: 341px

        &#labor_force-chart-data_point-1
          background-image: image-url('1/labor_force-chart-line-1.png')
          top: 56px
          @include transition-delay(.2s)

        &#labor_force-chart-data_point-2
          background-image: image-url('1/labor_force-chart-line-2.png')
          top: 185px
          @include transition-delay(.3s)

        &#labor_force-chart-data_point-3
          background-image: image-url('1/labor_force-chart-line-3.png')
          top: 230px
          @include transition-delay(.4s)

        &#labor_force-chart-data_point-4
          background-image: image-url('1/labor_force-chart-line-4.png')
          top: 272px
          @include transition-delay(.5s)

      .data_point.bar
        background: rgba(0, 0, 0, .8)
        bottom: 35px
        width: 40px
        height: 0
        overflow: hidden
        @include transition(height .3s)

      #labor_force-chart-data_point-5
        left: 555px
        @include transition-delay(.6s)

        &.active
          height: 58px

      #labor_force-chart-data_point-6
        left: 627px
        @include transition-delay(.7s)

        &.active
          height: 145px

      #labor_force-chart-data_point-7
        left: 701px
        @include transition-delay(.8s)

        &.active
          height: 182px

      #labor_force-chart-data_point-8
        background: $green
        left: 774px
        @include transition-delay(.9s)

        &.active
          height: 226px

      #labor_force-chart-data_point-9
        background: rgba(0, 0, 0, .8)
        border-radius: 2px
        color: #fff
        display: inline-block
        font-family: $bodoni-poster-italic
        font-size: $font-size*1.5
        padding: .5em .75em
        text-align: center
        margin-top: 10px
        opacity: 0
        overflow: inherit
        position: absolute
        left: 750px
        top: 20px
        @include triangle-bottom(4px, rgba(0, 0, 0, .8), down)
        @include transition(opacity .3s, margin .3s)
        @include transition-delay(1s)

        span
          font-family: $bodoni-poster
          letter-spacing: 2px

        &.active
          margin-top: 0
          opacity: 1
  .outro
    .second
      font-family: $caslon-bold
      font-size: $font-size*1.3