.chapter-5-moving-forward article

  .chapter_title
    padding: 24em 0 10em

    .background_image
      background-image: image-url('5/man_standing-medium.jpg')

    .contents
      max-width: 900px

  .share,
  .ask,
  .act
    h2
      @extend .form_question

    span
      display: block
      font-size: 22px
      margin: .25em 0

  .share_options,
  .ask_details
    @include clearfix
    background: image-url('form-background.jpg') center bottom  repeat-x

  .share_options
    ul
      margin: 0
      padding: 0

    li
      color: $medium
      cursor: pointer
      float: left
      font-family: $proxima-semibold
      line-height: 1.4
      text-align: center
      margin: 0 2.5%
      padding: 0
      width: 20%
      position: relative
      @include transition(color .1s)

      &:hover
        color: $dark

        .services
          opacity: 1

        .icon
          opacity: .75

        p
          color: $green

      .services,
      .icon,
      .icon span
        @include transition(opacity .2s)

      .services
        text-align: center
        opacity: 0
        position: absolute
        top: 75px
        left: 5px
        width: 160px
        height: 160px
        z-index: 2

        span
          background-position: center center
          background-repeat: no-repeat
          cursor: pointer
          display: block
          float: left
          margin: 0 5px
          opacity: .8
          text-indent: -99999px
          width: 40px
          height: 40px
          z-index: 2

          &:hover
            opacity: 1

          &.twitter
            background-image: image-url('button-twitter.png')

          &.facebook
            background-image: image-url('button-facebook.png')

          &.email
            background-image: image-url('button-email.png')

      .icon
        width: 160px
        height: 160px
        display: block
        margin: 1em auto
        z-index: 1

      p
        @include transition(color .2s)

  .ask_details a.big,
  .three_steps a
    background-color: $green
    color: #fff
    display: inline-block
    font-family: $proxima-bold
    font-size: 18px
    margin: .5em 0
    padding: 0.5em 1em 0.4em 1em
    text-decoration: none
    @include triangle-right(20px, $green)
    @include transition(background-color .2s)

    &:before
      @include transition(border-left-color .2s)

    &:hover
      background: $dark
      @include triangle-right(20px, $dark)

  .ask_details
    padding: 0 1.5em

    p
      font-family: $proxima-semibold
      font-size: 18px
      float: left
      width: 45%

      &.first
        margin-right: 5%

      &.second
        margin-left: 5%

  .three_steps
    .first_step,
    .second_step,
    .third_step
      background-repeat: no-repeat
      margin-bottom: 5em
      padding-top: 2em
      padding-left: 200px

    h3
      font-family: $proxima-semibold
      font-size: 22px
      line-height: 1.3
      margin-bottom: 1em
      text-transform: uppercase

    p
      font-size: 18px
      margin: .5em 0 1.5em

    .first_step
      background-image: image-url('5/1.gif')
      background-position: left 30px

    .second_step
      background-image: image-url('5/2.gif')
      background-position: left 12px

    .third_step
      background-image: image-url('5/3.gif')
      background-position: left 25px
