.chapter-3-working-for-the-nest-egg article

  .chapter_title
    padding: 5em 0 30em

    .background_image
      background-image: image-url('3/house-large.jpg')
      background-position: center -200px

    .contents
      max-width: 900px

  .intro
    p
      @extend .major

  .if_you_look_at
    @extend .right

    .contents
      @include clearfix
      @extend .border-top
      @extend .border-bottom

  .financially_unprepared
    .first
      @extend .major

    .second,
    .third
      font-size: 20px
      text-align: center

    .financially_unprepared-chart
      background: image-url('3/financially_unprepared-chart.gif') left top no-repeat
      margin: 5em 0 2em -50px
      width: 850px
      height: 310px
      position: relative

      .data_point
        background: rgba(0, 0, 0, .8)
        color: #fff
        display: block
        text-align: center
        position: absolute
        bottom: 27px
        width: 160px
        height: 0
        overflow: hidden
        @include transition(all .3s)

        strong
          display: block
          font-family: $bodoni-poster-italic
          font-size: $font-size*1.5
          position: absolute
          left: 34%
          bottom: 10px

        &#financially_unprepared-chart-data_point-1
          left: 107px
          @include transition-delay(.2s)

          &.active
            height: 133px            

        &#financially_unprepared-chart-data_point-2
          left: 372px
          @include transition-delay(.4s)

          &.active
            height: 168px

        &#financially_unprepared-chart-data_point-3
          background: $green
          left: 637px
          @include transition-delay(.6s)

          &.active
            height: 239px

  .sheryl_garrett
    @extend .left
    @extend .blend-bottom

    .contents
      background-position: 92% 200px !important

  .investor_underperforms
    @extend .blend-top

    p
      @extend .major
      font-size: 26px

    .investor_underperforms-chart
      background: image-url('3/investor_underperforms-chart.gif') left top no-repeat
      margin: 0 0 0 -62px
      width: 860px
      height: 404px
      position: relative

      .data_point.bar
        background: rgba(0, 0, 0, .8)
        display: block
        position: absolute
        bottom: 108px
        width: 40px
        height: 0
        overflow: hidden
        @include transition(all .3s)

        &#investor_underperforms-chart-data_point-1
          left: 97px
          @include transition-delay(.2s)

          &.active
            height: 242px            

        &#investor_underperforms-chart-data_point-2
          left: 195px
          @include transition-delay(.3s)

          &.active
            height: 217px

        &#investor_underperforms-chart-data_point-3
          left: 295px
          @include transition-delay(.4s)

          &.active
            height: 217px

        &#investor_underperforms-chart-data_point-4
          left: 394px
          @include transition-delay(.5s)

          &.active
            height: 178px

        &#investor_underperforms-chart-data_point-5
          left: 493px
          @include transition-delay(.6s)

          &.active
            height: 128px

        &#investor_underperforms-chart-data_point-6
          left: 590px
          @include transition-delay(.7s)

          &.active
            height: 88px

        &#investor_underperforms-chart-data_point-7
          left: 690px
          @include transition-delay(.8s)

          &.active
            height: 62px

        &#investor_underperforms-chart-data_point-8
          background: $green
          left: 788px
          @include transition-delay(.9s)

          &.active
            height: 52px

      #investor_underperforms-chart-data_point-9
        background: rgba(0, 0, 0, .8)
        border-radius: 2px
        color: #fff
        display: inline-block
        font-family: $bodoni-poster-italic
        font-size: $font-size*1.5
        padding: .5em .75em
        text-align: center
        margin-top: 10px
        opacity: 0
        overflow: inherit
        position: absolute
        left: 760px
        top: 180px
        @include triangle-bottom(4px, rgba(0, 0, 0, .8), down)
        @include transition(opacity .3s, margin .3s)
        @include transition-delay(1s)

        &.active
          margin-top: 0
          opacity: 1

  .babs_tatalias
    @extend .left

  .a_third_of_baby_boomers
    @extend .right

  .charles_smith
    @extend .left

  .the_great_recession
    @extend .right

    .contents
      background-position: left 65% !important
      padding: 2em 0

      p.intro
        width: 100%

  .mike_kemp
    @extend .left

    h2
      margin-top: 0 !important
      padding-top: 0

  .unemployed_but_wanting_to_work
    @extend .blend-bottom

    h2
      font-size: 42px

  .brutal_job_search
    @extend .right

    h2
      margin-top: -.25em !important
      padding-top: 0

  .why_is_it_harder
    @extend .blend

  .julie_zissimopoulos
    @extend .right
    @extend .blend

  .paul_transition
    @extend .video.full

    margin-top: 5em


//


  .how_long_work
    .under_65
      display: block
    .over_65
      display: none

    &.show_over_65
      .under_65
        display: none
      .over_65
        display: block