.chapter-2-a-snapshot article

  .chapter_title
    .background_image
      @include multi-background("2/fishing")
      background-attachment: fixed
      background-position: center

    .contents
      max-width: 900px

    h2
      font-size: 111px
      text-indent: 4px

      span
        @include text-shadow(none)
        background: #fff
        color: $dark
        display: block
        font-family: $bodoni
        font-size: 24px
        margin: 0 auto
        padding: .5em 0 .4em
        text-indent: 0
        width: 820px

  .intro
    p
      text-align: center

    p.first
      color: #36301b
      font-family: $bodoni-poster-italic
      font-size: 68px
      text-transform: uppercase
      white-space: nowrap

    p.second
      color: $dark
      font-family: $proxima-semibold
      font-size: 20px
      margin: 0 auto
      padding: .5em 0 .4em
      text-indent: 0
      text-transform: uppercase
      width: 820px

  .gender
    @extend .blend

    @include multi-background("2/man_woman")
    background-attachment: fixed


    .contents
      max-width: 100%

      .form_fields
        position: absolute
        left: 50%
        // top: 0
        margin-left: -250px
        padding: 1em 1.5em
        width: 500px
        z-index: 10
        @include transition(transform .6s)

        &.sticky
          position: fixed
          top: 0
          left: 50%
          margin-left: -250px
          @include translateY(60px)

        label
          display: block
          float: left
          width: 50%

          &.second
            text-align: right

      section
        background: rgba(255, 255, 255, .8)

        &.copy
          p
            margin: $line

          h3
            color: $green
            font-family: $proxima-bold
            font-size: 20px
            margin: $line 0 -0.5em $line
            text-transform: uppercase

  .gender_split
    background: transparent image-url('line-background.png') center top repeat-y
    margin: 0 auto
    padding: 3em 0
    width: $desktop
    overflow: hidden

    section
      background: transparent
      clear: both
      width: 40%

      .contents
        padding: $line 0

      &.female
        float: right

      &.male
        float: left

      &.quotation
        background: transparent
        width: 100%

        .contents
          min-height: 300px

        blockquote
          width: 330px

        &.male
          @extend .left

        &.female
          @extend .right

          blockquote
            float: right

        &.paula_gjerstad
          margin: 4em 0

  .men_and_women
    @extend .spread

    @include multi-background("2/briefcases")
    // background-attachment: fixed

    .contents div
      @include boxed(#fff, right, half, left)

      p
        @extend .major
        margin-top: 0

      ul
        margin-left: 1.5em
        margin-bottom: 0

        li
          font-size: 18px
          list-style: square
          margin: 1em 0

          &:last-child
            margin-bottom: 0

  .community_size-intro
    @extend .blend-bottom

    p
      text-align: center

      &.first
        line-height: 1.4
        font-size: 24px

      &.second
        font-size: 14px

  .question.community_size
    @extend .blend-bottom

    .form_fields
      label
        color: $medium
        cursor: pointer
        float: left
        text-align: center
        margin: 0
        padding: 2em 2.5%
        width: 25%
        @include transition(color .2s)

        input,
        strong,
        span
          display: block
          margin: 0 auto

        input + strong
          margin-top: 1em
          font-family: $proxima-bold
          font-size: 22px
          text-transform: uppercase

        .icon
          width: 81px
          height: 81px
          display: block
          margin: 1em auto
          position: relative

          &:after
            content: ""
            background-image: image-url('2/community-size.png')
            background-repeat: no-repeat
            width: 81px
            height: 81px
            position: absolute
            left: 0
            top: 0
            opacity: .75
            @include transition(opacity .2s)

        &.highly_urbanized .icon:after
          background-position: 0 0

        &.less_urbanized .icon:after
          background-position: -473px 0

        &.rural_area .icon:after
          background-position: -946px 0

        &.very_rural_area .icon:after
          background-position: -1420px 0

        &:hover
          background: #eee
          color: $dark

          .icon:after
            opacity: 1

  .community_data
    @extend .blend-top

    h2
      background: $medium
      color: #fff
      font-size: 19px
      line-height: 1.4
      margin: 0
      padding: 1em .75em .9em

      span
        display: block
        font-family: $proxima-semibold
        font-size: 16px

    p
      font-size: 18px
      line-height: 1.4
      text-align: center
      text-transform: none

    .community_changes
      background: url('../img/form-background.jpg')
      height: 200px

      .positive,
      .negative
        @include clearfix
        height: 100px

        div
          position: absolute
          width: 200px

          span
            display: block
            margin: 0 auto
            width: 50%
            height: 100%

            strong
              color: #fff
              display: block
              font-family: $proxima-bold
              font-size: 20px
              font-weight: normal
              text-align: center
              text-transform: uppercase
              position: absolute
              top: .2em
              left: 35%

          &.a
            left: 0
            top: 0
            height: 30%

          &.b
            left: 25%
            bottom: 0
            height: 20%

            span
              background: transparent

            strong
              color: $light
              font-family: $proxima-semibold
              font-size: 14px
              position: static

          &.c
            left: 50%
            bottom: 0
            height: 70%

            span strong
              font-size: 28px
              padding-top: .3em

          &.d
            left: 75%
            top: 0
            height: 30%

      .positive
        border-bottom: 2px solid $medium

        div span
          background: $green

      .negative
        div span
          background: $light

  .joel_peters
    @extend .right
    @extend .border-top
    @extend .border-bottom

  .quotation.dante_chinni
    @extend .right
    @extend .blend

  .video.dante_chinni
    @extend .video.full

    .intro
      font-size: 18px

    h2
      font-size: 63px

    .caption
      font-size: 18px