footer
  background: $dark

  nav
    ul
      overflow: hidden

    li  
      display: block
      float: left
      padding: 2em 0
      width: 50%

      a

        strong
          display: block

  a
    color: #fff