footer
  background: $dark
  padding: 1.5em 0
  z-index: 2

  nav
    ul
      overflow: hidden

    li
      display: block
      font-family: 'Bodoni MT W01'
      text-align: center
      text-transform: uppercase
      width: 50%

      &.previous
        background: image-url('chapter-previous.svg') left no-repeat
        float: left

      &.next
        background: image-url('chapter-next.svg') right no-repeat
        float: right

      a
        color: #fff
        display: block
        text-decoration: none

        .label
          border-bottom: 2px solid $light
          color: $light
          display: inline-block
          padding-bottom: 0
          font-size: $line*0.8

        .chapter_title
          display: block
          font-size: $line*1.25
          line-height: 1.1
          margin: .5em auto 0 auto
          width: 60%

        &:hover
          color: $green

          .label
            border-bottom-color: $green

  a
    color: #fff

.credits
  display: none