header.site_header,
header.story_header
  @extend .fixed
  padding: 0
  text-transform: uppercase
  width: 100%

  p
    margin: 0

  nav li
    display: inline-block

    &:first-child
      margin-left: 0

      a
        padding-left: 0

    &:last-child
      margin-right: 0

      a
        padding-right: 0

    a
      text-decoration: none


header.site_header
  background: $dark
  height: 60px
  overflow: hidden
  margin-top: -1000px
  padding: .5em 0 .5em 0
  opacity: 1 !important
  text-align: center
  z-index: 4
  @include transition(all .5s)

  &.shown
    margin-top: 0

  .contents
    padding: 0

  a.pbs
    background: image-url('pbs-light_background.svg') no-repeat left top
    background-size: contain
    float: left
    margin: .2em 1em 0 0
    width: 38px
    height: 38px
    text-indent: -10000px

  a.title
    text-decoration: none
  
    h1
      color: $light
      font-family: 'Bodoni W01 Poster'
      font-size: $font-size
      font-weight: normal
      line-height: 1
      margin: 0

      em
        font-family: 'BodoniW01-PosterItalic', serif
        font-size: $font-size*1.2
        font-style: normal

      small
        color: $light
        font-family: 'Adobe Caslon W01 Bd It', serif
        font-size: $font-size
        font-style: normal
        padding: 0 $line/10
        text-transform: lowercase

  nav
    font-family: Helvetica, sans-serif
    font-size: 11px
    margin-top: .25em

    li
      margin: 0 0.6em
      padding-bottom: 5px

      a
        color: $light
        padding: 0 0.3em
        @include transition(all, .2s)

      &:hover,
      &.current_chapter
        @include triangle-bottom(7px, #fff, up)
        
        a
          color: #fff

header.story_header
  margin-top: 3em
  text-align: center
  @include transition(opacity .3s)

  p,
  hr,
  h1 span,
  h1 em
    position: relative

  hr
    z-index: 1

  h1 em
    z-index: 2

  p,
  h1 span,
  h1 small,
  nav
    z-index: 3

  p
    font-family: 'Bodoni MT W01'
    margin-bottom: $line*1.25

    &:before,
    &:after
      color: $green
      content: "★"
      font-size: $font-size*.6
      padding: 0 $line/4
      vertical-align: $line*.2

  hr
    display: none

  h1
    font-size: $font-size*3.6
    margin: -.25em 0 $line/4
    word-spacing: -$line/2

    em
      font-family: 'BodoniW01-PosterItalic', serif
      font-size: $font-size*6.5
      font-style: normal
      margin: 0
      padding: 0 $line/8

    small
      color: $green
      font-family: 'Adobe Caslon W01 Bd It', serif
      font-size: $font-size*2.3
      font-style: normal
      padding: 0 $line/10
      text-transform: lowercase
      vertical-align: $line/3

  nav
    @extend .container
    @include clearfix
    border-top: 1px solid #888
    border-bottom: 1px solid #888
    line-height: 1
    padding: $line/2 0 $line/2.5

    li
      letter-spacing: -1px
      margin: 0 .9em

  &.bordered
    hr
      display: block

    h1
      margin-top: -$line*1.8

      em
        background: #fff

  &.on_dark_background
    h1,
    h1 small
      color: #fff
