// Triangle Callouts

%triangle-base
  content: ""
  position: absolute
  left: 50%

@mixin triangle-top($size, $color)
  &:before
    @extend %triangle-base
    top: 0
    margin-left: - $size
    border-left: $size solid transparent
    border-right: $size solid transparent
    border-bottom: $size solid $color
    margin-top: - $size

@mixin triangle-bottom($size, $color, $direction)
  &:after
    @extend %triangle-base
    bottom: 0
    margin-left: - $size
    border-left: $size solid transparent
    border-right: $size solid transparent
    @if $direction == "down"
      border-top: $size solid $color
      margin-bottom: - $size
    @else
      border-bottom: $size solid $color

@mixin triangle-left($size, $color, $position: 50%)
  &:before
    content: ""
    position: absolute
    top: $position
    left: 0
    margin-top: - $size
    border-top: $size solid transparent
    border-bottom: $size solid transparent
    border-right: $size solid $color
    margin-left: - ($size - 1)

@mixin triangle-right($size, $color)
  &:before
    content: ""
    position: absolute
    top: 50%
    right: 0
    margin-top: - $size
    border-top: $size solid transparent
    border-bottom: $size solid transparent
    border-left: $size solid $color
    margin-right: - ($size)


// Boxes Over Background Images

@mixin boxed($color, $position, $size, $text-alignment)
  clear: left
  background: $color
  margin-top: 2em
  margin-bottom: 2em
  padding: 2em
  @if $size == "third"
    width: 40%
  @if $size == "half"
    width: 60%
  @if $position == "left"
    float: left
  @if $position == "right"
    float: right
  @if $text-alignment == "centered"
    text-align: center

  .major:after
    content: ""
    display: block
    margin: .75em auto 0
    width: 50px
    border-bottom: 2px solid $dark


// Animations

@mixin animation($string)
  -webkit-animation: $string
  -moz-animation:    $string
  -o-animation:      $string
  animation:         $string

@mixin keyframes($name)
  @-webkit-keyframes $name
    @content

  @-moz-keyframes $name
    @content

  @-o-keyframes $name
    @content

  @keyframes $name
    @content

@mixin multi-background($name)
  // TODO: handle retina screens

  // giant iMac Displays
  background-image: image-url( $name + '-giant.jpg')

  // most displays up to HDTV size
  @media screen and (max-height: 1080px) and (max-width: 1920px)
    background-image: image-url( $name + "-large.jpg")

  // small displays; largest image that iOS can load into single memory buffer
  @media screen and (max-height: 1024px) and (max-width: 1024px)
    background-image: image-url($name + "-medium.jpg"  + $ex)

  // phones
  @media screen and (max-height: 640px) and (max-width: 640px)
    background-image: image-url($name + "-small.jpg")