@import "compass"
@import "compass/reset"

$tablet: 500px
$desktop: 1000px

$container: $desktop

// Available Fonts:
// font-family: 'Bodoni MT W01'
// font-family: 'AdobeCaslonW01-Regular'
// font-family: 'Adobe Caslon W01 It'
// font-family: 'Adobe Caslon W01 Bd'
// font-family: 'Adobe Caslon W01 Bd It'
// font-family: 'BodoniW01-PosterItalic'
// font-family: 'Bodoni W01 Poster'

$font-family-heading: 'BodoniW01-PosterItalic', serif
$font-family-body: 'AdobeCaslonW01-Regular', sans-serif

$font-size: 16px
$font-size-small: 12px

$line: $font-size * 1.5
$gutter: 10px

$dark: #383838
$medium: #666
$light: #aaa
$green: #548e85

$link-color: $green
$link-color-hover: $dark

@import 'base'
@import 'grid'
@import 'mixins'

@import 'header'
@import 'footer'
@import 'chapter1'
@import "chapter4"